@import url("fonts.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #eeeeee;
}

ul,
li,
div {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 116px;
}

.header .top {
  width: 100%;
  background: #f7f7f7;
  height: 70px;
  border-bottom: 1px solid #89883e;
}

.header .top .head {
  width: 930px;
  margin: 0 auto;
  height: 100%;
}

.header .top .logo {
  float: left;
  margin-top: 25px;
}

.header .top .sign-in {
  float: right;
  height: 100%;
}

.header .top .sign-in ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.header .top .sign-in a {
  height: 100%;
}

.header .top .sign-in li {
  float: left;
  background: #eeeeee;
  margin-right: 2px;
  padding: 30px 20px 0 20px;
  border-left: 1px solid #ebeaea;
  border-right: 1px solid #ebeaea;
  color: #555555;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
}

.header .top .sign-in a {
  float: left;
}

.header .top .sign-in img {
  float: right;
  margin: -2px 0 0 7px;
}

.header .top .sign-in p {
  margin: 0;
  float: left;
  color: #e70505;
}

.header .top .sign-in span.count {
  color: black;
  margin-left: 3px;
}

.header div.bottom {
  width: 100%;
  height: 46px;
  background: black;
}

.header div.bottom div.menu {
  width: 930px;
  margin: 0 auto;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  font-family: "Myriad Pro";
}

.header div.bottom div.menu ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
}

.header div.bottom div.menu li {
  float: left;
  margin: 0 44px 0 0;
}

.banner {
  min-height: 452px;
  background: url(../images/banner-background.png) repeat-x center;
  position: relative;
}

.banner__container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}


.banner__container .text {
  width: 50%;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  float: left;
}

.banner__container .text .title {
  font-size: 52px;
  margin: 0 0 15px 0;
  padding-top: 80px;
}

.banner__container .text .description {
  font-size: 16px;
  margin-bottom: 0;
}

.banner__container .circle1 {
  position: absolute;
  top: 3px;
  right: 43px;
}

.banner__container .circle2 {
  position: absolute;
  bottom: 75px;
  right: -75px;
}

.banner .slide-left {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 11;
}

.banner .slide-right {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 11;
}

.container {
  position: relative;
  background: #eeeeee;
  /*top: -16px;*/
}

.container .search-line {
  width: 100%;
  height: 43px;
  background: rgba(255, 255, 255, 0.87);
  position: absolute;
  top: -43px;
  border-bottom: 1px solid white;
}

.container .search-line .content {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.search-line .content .left {
  float: left;
}

.search-line .content .right {
  float: right;
}

.search-line .content .right a {
  float: left;
  margin: 9px 6px 0 11px;
}

.search-line .content p {
  text-transform: uppercase;
  color: #df1f26;
  margin: 0;
  float: left;
  margin: 13px 20px 0 10px;
  font-weight: bold;
}

.search-line .content .search {
  width: 245px;
  height: 29px;
  background: #c9c9c9;
  border-style: none;
  padding: 0;
  float: left;
  margin: 6px 0;
}

.search-line .content .button {
  width: 32px;
  height: 29px;
  background: url("../images/search-button.jpg");
  border-style: none;
  float: left;
  margin: 6px 0;
}

.container .content {
  width: 960px;
  margin: 0 auto;
}

.container .content-float {
  float: left;
}

.container .content .secondary {
  float: left;
  width: 262px;
  height: 100%;
  height: 1648px;
  border-right: 1px solid #bebebe;
  margin: 9px 20px 33px 0;
}

.products-menu {
  margin: 0;
  padding: 10px 0 10px 20px;
  background: #df1f26;
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 14px;
}

.container .content .secondary ul.menu {
  list-style: none;
  margin: 0 0 33px 0;
  padding: 0;
  background-image: linear-gradient(to right, #eeeeee, #f3f5f6);
}

.container .content .secondary .menu li {
  font-size: 15px;
  margin: 0 0 0 0;
  background: url("../images/icons/arrow.png") no-repeat 17px 50%;
  color: #333333;
  padding: 12px 0 12px 35px;
  border-bottom: 2px solid #e0e0e0;
}

.container .content .secondary .menu li.active {
  background: white url("../images/icons/arrow.png") no-repeat 17px 50%;
  border-right: 5px solid #df1f26;
}

.container .content .secondary .menu li:hover {
  background: white url("../images/icons/arrow.png") no-repeat 17px 50%;
  border-right: 5px solid #df1f26;
}

.container .content .secondary .menu a:hover {
  text-decoration: none;
}

.secondary .delivery {
  margin: 0 auto;
  margin-bottom: 60px;
}

.secondary .blog h2 {
  color: #d52229;
  font-size: 18px;
  padding-left: 15px;
}

.secondary .blog ul {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 50px;
}

.secondary .blog li {
  font-size: 12px;
  font-style: italic;
  color: #838383;
  line-height: 18px;
  padding: 0 35px 20px 45px;
  background: url("../images/icons/twit.png") no-repeat 0 1px;
}

.secondary .blog span {
  color: #d52229;
}

.secondary .feedback h2 {
  color: #d52229;
  font-size: 18px;
  padding-left: 15px;
  text-transform: uppercase;
}

.secondary .feedback .review {
  margin-left: 12px;
  background: #f6f3f3;
  padding: 30px 23px;
  width: 220px;
  font-family: "PT Sans";
  font-style: italic;
  font-size: 13px;
  color: #747474;
  line-height: 19px;
  position: relative;
}

.secondary .feedback .review div.dialog {
  position: absolute;
  background: url("../images/review.png") no-repeat;
  left: 40px;
  bottom: -17px;
  width: 21px;
  height: 17px;
}

.secondary .feedback p {
  background: url("../images/icons/person.png") no-repeat left;
  margin: 11px 0 20px 12px;
  padding: 15px 0 5px 52px;
  color: #333333;
  font-size: 13px;
}

.container .content .primary {
  margin: 2px 0 0 0;
  float: right;
  width: 678px;
}

.container .content .primary .block1 {
  float: left;
}

.container .content .primary .block2 {
  float: left;
  margin-bottom: 57px;
}

.style-s {
  background: white;
  padding: 5px 5px 0 5px;
  color: #565555;
  font-size: 13px;
  margin: 0 8px 8px 0;
  width: 218px;
  height: 307px;
  float: left;
}

.style-s img {
  width: 208px;
}

.style-s .price p {
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.style-s .price p span:first-child {
  font-size: 14px;
}

.style-s .price p span:last-child {
  position: absolute;
  top: -1px;
  font-size: 16px;
  left: 20px;
}

.style-s .buy {
  border-top: 1px solid #ededed;
  padding: 2px 0;
  float: left;
  width: 100%;
  height: 40px;
}

.style-s .buy .price {
  border-right: 1px solid #ededed;
  height: 100%;
  float: left;
  width: 90px;
  padding: 6px 0 0 24px;
}

.style-s .buy .button {
  float: left;
  height: 100%;
  margin: 5px 0 0 8px;
}

.style-s .buy .button img {
  float: left;
  width: 103px;
}



.style-b {
  width: 444px;
  height: 307px;
  background: white;
  padding: 5px 5px 0 5px;
  color: #565555;
  font-size: 13px;
  float: left;
  margin-bottom: 8px;
}

.style-b img {
  float: right;
}

.style-b p {
  float: left;
  margin: 15px 0 0 10px;
}

.style-b .price p {
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.style-b .price p span:first-child {
  font-size: 14px;
}

.style-b .price p span:last-child {
  position: absolute;
  top: -1px;
  font-size: 16px;
  right: -13px;
}

.style-b .buy {
  float: right;
  margin-top: 1px;
  height: 48px;
}

.style-b .buy .price {
  height: 100%;
  float: left;
  border-left: 1px solid #ededed;
  padding: 12px 27px 0 24px;
}

.style-b .buy .button {
  height: 100%;
  float: left;
  border-left: 1px solid #ededed;
  padding: 10px 2px 0 9px;
}

.style-s div.hot:first-child {
  position: relative;
}

.style-s div.hot:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.style-s div.hot:last-child img {
  width: 100%;
}

.style-b div.hot:first-child {
  position: relative;
}

.style-b div.hot:last-child {
  position: absolute;
  top: 0;
  left: -2px;
}

.style-b div.hot:last-child img {
  width: 100%;
}

.container .primary .popular {
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  width: 100%;
}

.container .primary .popular span {
  color: #e70505;
}

.footer {
float: left;
width: 100%;
}

.footer .content-top {
  background: url("../images/footer.jpg") repeat-x center;
  width: 100%;
  min-height: 295px;
}

.footer .content-bottom {
  background: url("../images/footer-bottom.jpg");
  width: 100%;
  height: 50px;
  float: left;
}
