* {
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

body {
  background: #282828;
}

body>div {
  margin: auto;
  width: 1280px;
  position: relative;
}

.header {
  float: left;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header .left {
  float: left;
  margin: 17px 0 0 33px;
  font-family: "Niobium";
  font-size: 30px;
  color: white;
}

.header .left a:hover {
  text-decoration: none;
}

.header .right {
  float: right;
  margin: 15px 30px 0 0;
  font-family: "ProximaNova";
  font-size: 18px;
  color: white;
}

.header .right ul {
  float: left;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.header .right ul li {
  float: left;
  margin-right: 32px;
}

.header .right ul li div {
  margin: 0;
  float: left;
  width: calc(100% + 10px);
}

.header .right ul li a:hover {
  font-weight: bold;
  border-bottom: 2px solid white;
  text-decoration: none;
}

.header .right .search {
  float: right;
  margin-left: 14px;
  padding: 0 17px 0 17px;
  border: 1px solid white;
  border-radius: 20px;
  width: 225px;
}

.header .right .search .button {
  margin: 12px 16px 0 0;
  float: left;
}

.header .right form {
  float: right;
}

.header .right input {
  width: 161px;
  height: 35px;
  background: none;
  border: 1px;
  color: white;
}

.header .right input:focus {
  outline: none;
}

.banner {
  position: relative;
  float: left;
  width: 100%:
}

.banner img {
  /* width: 100%; */
}

.banner .name {
  position: absolute;
  width: 100%;
  height: 276px;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: white;
  font-family: "ProximaNova";
}

.banner .title {
  width: 128px;
  height: 30px;
  background: #10a6fc;
  position: absolute;
  left: 35px;
  top: 0;
  text-transform: uppercase;
  font-size: 17px;
}

.banner .title p {
  margin: 7px 0 0 13px;
}

.banner .name .content {
  margin: 46px 0 0 35px;
}

.banner .name .content p:first-child {
  font-family: "Aleo";
  font-size: 42px;
  font-style: italic;
  margin: 0 0 12px 0;
  width: 850px;
}

.banner .name .content p {
  font-size: 16px;
  margin: 0 0 18px 0;
  width: 450px;
}

.banner .name .content div {
  padding: 4px 12px;
  border: 1px solid white;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}

.container {
  margin: 16px 40px 16px 32px;
  float: left;
  width: calc(100% - 72px);
}

.container .content-left {
  width: 803px;
  margin: 0 16px 0 0;
  float: left;
}

.container .content-left .post {
  width: 100%;
  height: 354px;
  position: relative;
  background: white;
}

.container .content-left .post .navigation {
  width: 100%;
  height: 60px;
  background: #3d3c3c;
  position: absolute;
}

.container .content-left .post .navigation ul {
  list-style: none;
  float: left;
  margin: 21px 0 0 0;
  padding: 0 0 0 29px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: "ProximaNova";
  text-transform: uppercase;
}

.container .content-left .post .navigation ul li {
  float: left;
  padding-right: 48px;
}

.container .content-left .post .navigation img {
  float: right;
  margin: 26px 28px 0 0;
}

.container .content-left .post .title {
  position: absolute;
  left: 28px;
  top: 85px;
  background: #d21e72;
  padding: 5px 14px;
  font-size: 17px;
  font-family: "ProximaNova";
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.container .content-left .post .content {
  float: left;
  margin-top: 95px;
}

.container .content-left .post .content p {
  font-family: "Aleo";
  font-weight: 300;
  font-size: 34px;
  color: #d21e72;
  float: left;
  width: 480px;
  margin: 50px 0 0 85px;
}

.container .content-left .post .content p:before {
  content: url("../images/icons/icon-kavichki.png");
  position: absolute;
  left: 27px;
}

.container .content-left .post .content img {
  float: right;
}

.container .content-left .post .content .read {
  float: left;
  text-transform: uppercase;
  padding: 4px 12px;
  border: 1px solid #d21e72;
  color: #d21e72;
  font-family: "ProximaNova";
  font-weight: 300;
  font-size: 20px;
  margin: 27px 0 0 85px;
}

.container .content-left .left {
  width: 393px;
  margin-right: 17px;
  float: left;
  font-family: "ProximaNova";
}

.container .content-left .right {
  width: 393px;
  float: right;
}

.post-type-1 {
  background: white;
  position: relative;
  margin-top: 16px;
}

.container .content-left .post-title {
  font-family: "ProximaNova";
  text-transform: uppercase;
  color: white;
  position: absolute;
  font-weight: 600;
  font-size: 17px;
  padding: 8px 10px;
  left: 28px;
}

.container .content-left .post-name {
  font-family: "Aleo";
  font-weight: 300;
  font-size: 23px;
  color: #282828;
  padding: 20px 30px 8px 25px;
  margin: 0;
}

.container .content-left .post-name-nojpg {
  font-family: "Aleo";
  font-weight: 300;
  font-size: 23px;
  color: #282828;
  padding: 65px 30px 8px 25px;
  margin: 0;
}

.container .content-left .post-preview-nojpg {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 300;
  color: #8c8a8a;
  padding: 7px 30px 30px 25px;
  margin: 0;
}

.container .content-left .post-preview {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 300;
  color: #8c8a8a;
  padding: 7px 30px 20px 25px;
  margin: 0;
}

.container .content-left .post-read {
  font-family: "ProximaNova";
  font-size: 19px;
  font-weight: 300;
  color: white;
  background: #3d3c3c;
  height: 60px;
  padding: 14px 0 0 28px;
}

.container .content-left .post-read div:first-child {
  border: 1px solid white;
  padding: 4px 12px;
  float: left;
  margin: 0 15px 0 0;
  text-transform: uppercase;
}

.container .content-left .post-read div:last-child {
  border: 1px solid white;
  float: left;
  padding: 4.2px 11px;
}

.container .content-left .post-read div:last-child img {
  margin: 2.8px 11px 0 0;
  float: left;
}

.container .content-left .post-read div:last-child span {
  line-height: 16px;
}

.orange  {
  background: #ff9b00;
}

.green {
  background: #6ab40b;
}

.gray {
  background: #8598a0;
}

.container .content-left .photo {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.container .content-left .photo-name {
  color: white;
  font-family: "Aleo";
  font-size: 23px;
  font-weight: 300;
  padding: 20px 0 15px 25px;
  margin: 0;
}

.container .content-left .photo-name a:hover {
  text-decoration: none;
}

.container .content-right {
  width: 387px;
  float: right;
}

.container .content-right .news {
  width: 100%;
  height: 425px;
  background: white;
  font-family: "ProximaNova";
}

.container .content-right .news .navigation {
  width: 100%;
  height: 60px;
  background: #3d3c3c;
  float: left;
  color: #e9e4e4;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.container .content-right .news .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  text-align: center;
}

.container .content-right .news .navigation ul li {
  float: left;
  padding: 20px 0px;
  height: 60px;
  width: 50%;
}

.container .content-right .news .navigation ul li:hover {
  color: #3d3c3c;
  background: #e9e4e4;
}

.container .content-right .news .content {
  float: left;
  width: 100%;
  height: 365px;
  font-size: 16px;
}

.container .content-right .news .content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container .content-right .news .content li {
  height: calc( 365px / 6);
  width: 100%;
  border-bottom: 1px solid #e2e1e1;
  padding: 21px 0 0 30px;
  color: #727171;
}

.container .content-right .news .content li:hover {
  background: #fafafa;
}

.container .content-right .news .content li:last-child {
  border-bottom: 0px;
}

.container .content-right .news .content li span:first-child {
  font-weight: 600;
  color: #3d3c3c;
  text-transform: uppercase;
}

.container .content-right .news .content li span:last-child {
  font-weight: bold;
  color: #e2e1e1;
}

.weather {
  background: white;
  width: 100%;
  height: 628px;
  margin: 14px 0;
  font-family: "ProximaNova";
}

.weather .name {
  width: 100%;
  height: 60px;
  background: #3d3c3c;
  padding: 20px 153px;
  color: #e9e4e4;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}

.weather .container {
  padding: 28px 25px;
  width: 100%;
  margin: 0;
}

.weather .container>p {
  margin: 0;
  color: #3d3c3c;
  font-size: 23px;
}

.weather .container .now {
  border: 1px solid #fbcb72;
  margin: 23px 0 34px 0;
  width: 100%;
  background: #fdf8ef;
  height: 205px;
}

.weather .container .now>div {
  float: left;
  width: 40%;
}

.weather .container .now>div p:first-child {
  color: #c9c9c9;
  font-size: 23px;
  float: left;
  margin: 52px 0 0 38px;
}

.weather .container .now>div p:last-child {
  color: #3d3c3c;
  font-size: 50px;
  float: left;
  margin: 0 0 0 35px;
}

.weather .container .now img {
  float: right;
  margin: 29px 33px 0 0;
}

.weather .container .time {
  float: left;
  margin: 0 0 32px 0;
}

.weather .container .time>div {
  width: 84.25px;
  height: 125px;
  border-right: 2px dotted #8c8a8a;
  float: left;
}

.weather .container .time>div:last-child {
  border-right: 0;
}

.weather .container .time>div p:first-child {
  margin: 20px 0 0 0;
  color: #c9c9c9;
  font-size: 18px;
}

.weather .container .time>div p:last-child {
  margin: 0 0 10px 0;
  color: #3d3c3c;
  font-size: 21px;
}

.weather .container .time>div>div {
  margin-left: 20px;
}

.weather .container .time img {
  margin: 0 auto;
}

.weather .container .search {
  background: #dad8d8;
  width: 100%;
  height: 41px;
  float: left;
}

.weather .container form input {
  float: left;
  margin: 9.5px 0 0 17px;
  border: 0;
  font-size: 18px;
  color: #3d3c3c;
  background: none;
}

.weather .container form input:focus {
  outline: none;
}

.weather .container form img{
  float: right;
  margin: 12px 26px 0 0;
}

.gallery {
  width: 100%;
  min-height: 325px;
  background: white;
}

.gallery .name {
  width: 100%;
  height: 60px;
  background: #3d3c3c;
  color: #e9e4e4;
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.gallery .content {
  width: 100%;
  height: calc(100% - 60px);
  padding: 12px 14px;
}

.gallery img {
  margin: 0 5px 7px 0;
  width: 112px;
  height: 112px;
  display: inline-block;
}

.gallery img:nth-child(3n) {
  margin: 0 0 7px 0;
  width: 112px;
  height: 112px;
  display: inline-block;
}

.load-more {
  width: 100%;
  background: #3d3c3c;
  height: 60px;
  float: left;
  padding: 19.5px 0 0 313px;
  margin: 18px 0 0 0;
}

.load-more img {
  float: left;
  margin: 3.5px 15px 0 0;
}

.load-more p {
  font-family: "ProximaNova";
  font-size: 19px;
  font-weight: 300;
  color: white;
  margin: 0;
  float: left;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  float: left;
}

.footer div {
  font-size: 22px;
  color: white;
  font-family: "ProximaNova";
  margin: 45px 41%;
}

.footer div img {
  display: inline-block;
}
