<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Corporatix</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="head">
        <div class="head__logo"><a href="#"><img src="images/logo.png" alt="logo"></a></div>
        <div class="head__menu">
          <ul>
            <li class="first"><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">Blog</a></li>
            <li class="last"><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="image"><img src="images/banner3.png" alt="monitors"></div>
    </div>
    <div class="white-line_2px"></div>
    <div class="container">
      <div><img src="images/hr2.png"></div>
      <div class="blurb">
        <div class="left">
          <p>We can make your online business<br> easy & usable for all walks of people</p>
        </div>
        <div class="right"><a href="#"><img src="images/button.png" alt="button"></a></div>
      </div>
    </div>
    <div class="hr"><img src="images/hr.png"></div>
    <div class="container">
      <div class="boxes">
        <div class="box">
          <img src="images/photo1.jpg" alt="photo1">
          <p class="title">Business Heading</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.
          </p>
          <p class="button"><a href="#">Read More ></a></p>
        </div>
        <div class="box">
          <img src="images/photo2.jpg" alt="photo2">
          <p class="title">Business Heading</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.
          </p>
          <p class="button"><a href="#">Read More ></a></p>
        </div>
        <div class="box">
          <img src="images/photo3.jpg" alt="photo3">
          <p class="title">Business Heading</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.
          </p>
          <p class="button"><a href="#">Read More ></a></p>
        </div>
        <div class="last">
          <img src="images/photo4.jpg" alt="photo4">
          <p class="title">Business Heading</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.
          </p>
          <p class="button"><a href="#">Read More ></a></p>
        </div>
      </div>
      <div class="information">
        <div class="information__left">
          <div>
            <img src="images/icon1.png" alt="icon1">
            <p class="title">Title Heading</p>
            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus. </p>
          </div>
          <div>
            <img src="images/icon2.png" alt="icon2">
            <p class="title">Title Heading</p>
            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus. </p>
          </div>
          <div>
            <img src="images/icon3.png" alt="icon3">
            <p class="title">Title Heading</p>
            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus. </p>
          </div>
          <div class="last">
            <img src="images/icon4.png" alt="icon4">
            <p class="title">Title Heading</p>
            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus. </p>
          </div>
        </div>
        <div class="information__right">
          <p class="title">About the Company</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus. Nulla erat orci, adipiscing vel molestie ac, vehicula in dui. Proin vel lorem in tellus placerat eleifend. Duis iaculis lorem a ipsum euismod vel ullamcorper arcu placerat. Aenean elementum tortor vel nisi bibendum bibendum. Aliquam fringilla feugiat ante in vestibulum. Sed non justo justo. Aenean et quam dolor. Vivamus aliquet gravida nunc, sed elementum elit blandit vel. Aliquam neque quam, dignissim ac mattis at, hendrerit nec elit. Cras commodo gravida placerat.
          </p>
          <p class="end"><a href="#">Read More ></a></p>
        </div>
      </div>
    </div>
    <div class="white-line_1px"></div>
    <div class="footer">
      <div class="foot">
        <div class="foot__left">
          <ul>
            <li><a href="#">Home</a>&ensp;|</li>
            <li>&ensp;<a href="#">Services</a>&ensp;|</li>
            <li>&ensp;<a href="#">Portfolio</a>&ensp;|</li>
            <li>&ensp;<a href="#">Testimonial</a>&ensp;|</li>
            <li>&ensp;<a href="#">Blog</a>&ensp;|</li>
            <li>&ensp;<a href="#">Contact Us</a></li>
          </ul><br>
<!--Можно ли как-то сделать без <br>?? У меня не вышло. Он добавляет небольшой отступ после списка..-->
          <p>&copy; 2010 WebCorp LLC | Terms of service | Privacy policy</p>
          <p>icons courtesy <font color="#dadfeb"><u><a href="#">IconFinder.com</a></u></font></p>
        </div>
        <div class="foot__right">
          <p>Connect with us:</p>
          <ul>
            <li><a href="#"><img src="images/twitter.png" alt="twitter"></a></li>
            <li><a href="#"><img src="images/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="images/instagram.png" alt="instagram"></a></li>
            <li><a href="#"><img src="images/mail.png" alt="mail"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
