@import url(../fontrs/helvetica_neue/helvetica_neue.css);
@import url(../fonts/roboto/roboto.css);
@import url(../fonts/droidserif/droidserif.css);

body {
  background: white;
  font-family: "Droid Serif";
  font-size: 14px;
}


div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

header {
  width: 100%;
  margin-bottom: 27px;
}

.w940 {
  width: 940px;
  margin: 0 auto;
}

header .top {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  min-height: 116px;
  position: relative;
}

header .top .left {
  margin: 12px 0 0 4px;
}

header .top .right {
}

header .top .right .menu {

  list-style: none;
  padding: 0 20px;
  margin: 0;
  background: #3d3d3d;
  color: white;
  font-family: "Roboto";
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .top .right .menu li{
  display: inline-block;
  padding: 6px 9px;
}

header .top .search {
  position: absolute;
  bottom: 0;
  right: 5px;
  background: #404040;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 5px 10px;

}

header .top .search form {
  background: #5e5b5b;
  min-width: 226px;
  min-height: 30px;
  border-radius: 2px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.75);
}

header .search form input {
  background: 0;
  font-family: "Roboto";
  color: white;
  outline: none;
  border: 0;
}

header .search form input:first-child {
  width: 170px;
  margin-left: 16px;
  margin-top: 7px;
}

header .search form input:last-child {
  float: right;
  background: url(../images/nav_search.png) no-repeat;
  width: 20px;
  height: 21px;
  margin-right: 11px;
  margin-top: 6px;
}

header .bottom {
  width: 100%;
  position: relative;
}

header .bottom .bg_line {
  width: 100%;
  height: 41px;
  background: url(../images/h_pattern1.png);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 8px;
  z-index: -1;
}

header .bottom .navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  background: url(../images/pattern_def.png);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

header .bottom .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #dddddd;
  font-family: "Roboto";
  text-shadow: 0 1px 1px black;
  font-size: 0;
  border-top-left-radius: 5px;

}

header .bottom .menu li {
  font-size: 13px;
  display: inline-flex;
  border-right: 1px solid #2d2d2d;
  border-left: 1px solid #565656;
  /*background: url(../images/arr_down.png) no-repeat right 3px center;*/
}

header .bottom .menu li:first-child {
  border-left: none;
  border-top-left-radius: 5px;
}

header .bottom .menu li a {
  padding: 20px 20px;
}

header .bottom .menu li a:hover {
  text-decoration: none;
}

header .bottom .menu li:hover {
  background: url(../images/pattern_active.png);
}

header .bottom .social {

}

header .bottom .social ul {
  list-style: none;
  margin: 13px 22px 0 0;
  padding: 0;
  float: right;
}

header .bottom .social ul li {
  float: left;
  margin-left: 8px;
}

header .bottom .lower_line {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0.25));
}

.banner {
  width: 940px;
  margin: 0 auto;
}

.banner .line {
  width: 100%;
  height: 4px;
  background: #454444;
  border-top: 1px solid #4e4d4d;
  margin: 3px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.banner .content {
  position: relative;
  width: 100%;
  min-height: 392px;
  background: url(../images/b_pattern3.png);
  display: flex;
}

.banner .left {
  width: 540px;
  padding: 13px 0 13px 13px;
}

.banner .left img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.banner .right {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  padding: 13px 0 13px 0;
}

.banner .content .text {
  color: white;
  width: 340px;
  margin-left: 25px;
}

.banner .content .text h2 {
  margin: 35px 0 15px 0;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: normal;
}

.banner .content .photos {
  align-self: flex-end;
  margin-bottom: 26px;
  min-height: 93px;
  width: 100%;
  background: #1f1e1e;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.banner .lenta {
  width: 19px;
  height: 107px;
  position: absolute;
  bottom: 25px;
  right: -19px;
}

.banner .lenta .bg {
  background: #1f1e1e;
  height: 93px;
  width: 100%;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

.banner .lenta .ugol {
  width: 100%;
  height: 11px;
  background: url(../images/banner_lenta.png) no-repeat bottom;
}
