<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title align="center">
        Creative Studio
    </title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="top_line"></div>
<div class="container">
    <div class="head">
        <div class="logo"><a href="#"><img src="images/logo.png" alt="logo"></a></div>
        <div class="email"><a href="#">info@CreativeStudio.com</a></div>
        <div class="menu">
            <ul>
                <li class="first"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="banner">
        <div class="banner_text">
            <h2>Creative Design Services</h2>
            <div class="button">
                <p class="text">Here’s some nice work</p>
                <p class="link"><a href="#">VIEW PORTFOLIO<img src="images/arrow3.png" alt="arrow"></a></p>
            </div>
        </div>
        <div class="banner_image">
            <img src="images/banner.png" alt="portfolio">
        </div>
    </div>
    <hr>
    <div class="about">
        <div class="text1"><img src="images/arrow.png" alt="arrow"> ABOUT US
            <hr>
            <p class="about_content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta
                posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id
                sem lobortis scelerisque. Praesent eget consequat libero.
            </p>
            <p class="about_content3"><a href="#" class="about_content2"><img src="images/arrow2.png"
                                                                              alt="arrow">READ</a></p>
        </div>
        <div class="text2"><img src="images/arrow.png" alt="arrow"> OUR BENEFITS
            <hr>
            <ul class="text2_about_content">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada
                    porta posuere quis massa.
                </li>
                <li>Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis
                    scelerisque. Praesent eget consequat
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada
                    porta posuere quis massa.
                </li>
            </ul>
        </div>
        <div class="text3"><img src="images/arrow.png" alt="arrow"> TESTIMONIALS
            <hr>
            <p class="about_content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta
                posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id
                sem lobortis scelerisque.
            </p>
            <p class="about_content_italic">
                Rafi, Graphicsfuel.com
            </p>
        </div>
    </div>
    <hr>
    <div class="portfolio">
        <div class="portfolio_name"><img src="images/arrow.png" alt="arrow"> OUR PORTFOLIO</div>
        <div class="photo1"><a href="#"><img src="images/portfolio1.jpg" alt="portfolio1"></a></div>
        <div class="photo1"><a href="#"><img src="images/portfolio2.jpg" alt="portfolio2"></a></div>
        <div class="photo1"><a href="#"><img src="images/portfolio3.jpg" alt="portfolio3"></a></div>
        <div class="photo2"><a href="#"><img src="images/portfolio4.jpg" alt="portfolio4"></a></div>
    </div>
    <hr>
    <div class="updates">
        <div class="updates_left">
            <div class="updates_name1"><img src="images/arrow2.png" alt="arrow"> BLOG UPDATES</div>
            <p class="updates_content1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla
                id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et
                velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero. </p>
        </div>
        <div class="updates_right">
            <div class="updates_name2"><img src="images/arrow2.png" alt="arrow"> CONNECT WITH US</div>
            <div class="updates_content2">
                <ul>
                    <li><a href="#"><img src="images/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="images/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="images/flickr.png" alt="flickr"></a></li>
                    <li><a href="#"><img src="images/rss.png" alt="rss"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_box">
        <div class="footer_info">
            <ul>
                <li><a href="#">Home</a>&ensp;|</li>
                <li>&ensp;<a href="#">About Us</a>&ensp;|</li>
                <li>&ensp;<a href="#">Portfolio</a>&ensp;|</li>
                <li>&ensp;<a href="#">Services</a>&ensp;|</li>
                <li>&ensp;<a href="#">Blog</a>&ensp;|</li>
                <li>&ensp;<a href="#">Contact Us</a></li>
            </ul>
            <br>
            © 2010 CreativeStudio. All Rights Reserved
        </div>
        <div class="footer_logo"><a href="#"><img src="images/logo.png" alt="logo"></a></div>
    </div>
</div>
</body>
</html>
